.git
.github
.idea
.agents
.claude
.codex
.junie
.env
.env.*
!.env.example
vendor
node_modules
vendor/
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests
README.md
npm-debug.log
yarn-error.log
